table {
  width: 100%;
}

.list-orders-card {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.mat-column-actions {
  min-width: 100px;
}

.row {
  display: flex;
}

.column {
  flex: 48%;
}

.column-right {
  margin-left: 5px;
}

.column-card {
  min-height: 300px;
  min-width: 300px;
}

.fill-remaining-space {
  flex: 1 1 auto
}
