<p>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/">
      Home
    </button>
    <button mat-button routerLink="/order">
      Order
    </button>
    <button mat-button [matMenuTriggerFor]="ingredients">
      Ingredients
    </button>
    <mat-menu #ingredients='matMenu'>
      <button mat-menu-item routerLink="/ingredient-list">Load ingredients</button>
      <button mat-menu-item routerLink="/add-ingredient">Create ingredient</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="tacos">
      Taco's
    </button>
    <mat-menu #tacos='matMenu'>
      <button mat-menu-item routerLink="/taco-list">Load taco's</button>
      <button mat-menu-item routerLink="/add-taco">Create taco</button>
    </mat-menu>
    <span class="fill-remaining-space"></span>
    <span class="version-span">{{version}}</span>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
