.orders-card {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.row {
  display: flex;
}

.column {
  flex: 48%;
}

.column-right {
  margin-left: 5px;
}

.column-card {
  min-height: 200px;
  min-width: 300px;
}
